<div class="navigation">
  <%= link_to root_path, class: "site_logo_link" do %>
    <img src="assets/images/Rogo.png" alt="サイトロゴ" class="site_logo">
  <% end %>
  <ul class="side_menu">
    <li class="side_menu__list">
      <%= link_to public_customer_path(@Customer.id), class: "side_menu__link" do %>
        <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
        <span class="title">マイページ</span>
      <% end %>
    </li>
    <li class="side_menu__list">
      <%= link_to public_calendars_path(current_customer), class: "side_menu__link" do %>
        <span class="icon"><ion-icon name="megaphone-outline"></ion-icon></span>
        <span class="title">新着カレンダー</span>
      <% end %>
    </li>
    <!--<li class="side_menu__list hidden">-->
    <!--  <%#= link_to messages_path, class: "side_menu__link" do %>-->
    <!--    <span class="icon"><ion-icon name="chatbubbles-outline"></ion-icon></span>-->
    <!--    <span class="title">メッセージ</span>-->
    <!--  <%# end %>-->
    <!--</li>-->
    <!--<li class="side_menu__list hidden">-->
    <!--  <%#= link_to notifications_path, class: "side_menu__link" do %>-->
    <!--    <span class="icon"><ion-icon name="notifications-outline" class="notice_icon <%#= @unread %>"></ion-icon></span>-->
    <!--    <span class="title">通知</span>-->
    <!--  <# end %>-->
    <!--</li>-->
    <li class="side_menu__list">
      <%= link_to public_questions_path, class: "side_menu__link" do %>
        <span class="icon"><ion-icon name="calendar-outline"></ion-icon></span>
        <span class="title">質問箱</span>
      <% end %>
    </li>
    <li class="side_menu__list">
      <%= link_to public_items_path, class: "side_menu__link" do %>
        <span class="icon"><ion-icon name="calendar-outline"></ion-icon></span>
        <span class="title">プラモデル一覧</span>
      <% end %>
    </li>
    <li class="side_menu__list">
      <%= link_to public_about_path, class: "side_menu__link" do %>
        <span class="icon"><ion-icon name="calendar-outline"></ion-icon></span>
        <span class="title">プラモデル店</span>
      <% end %>
    </li>
    <!--<li class="side_menu__list">-->
    <!--  <%#= link_to setting_path, class: "side_menu__link" do %>-->
    <!--    <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>-->
    <!--    <span class="title">設定</span>-->
    <!--  <%# end %>-->
    <!--</li>-->
  </ul>
</div>