<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 rounded-right bg-light" id="sidenav-main">

  <ul class="navbar-nav">
    <li class="nav-item">
      <%= link_to root_path do %>
      <%= image_tag"Rogo.png",:size => '250x120' %>
      <% end %>
    </li>
    
    <br>
    
    <li class="nav-item">
      <%= link_to image_tag("calendar.png", class:"image_switch", width: '100%', height:'100%' ), 
        public_calendars_path(current_customer), data: {"turbolinks" => false}%>
    </li>
    <li class="nav-item">
      <%= link_to image_tag("question.png", class:"image_switch", width: '100%', height:'100%' ), 
        public_questions_path, data: {"turbolinks" => false}%>
    </li>
    <li class="nav-item">
      <%= link_to image_tag("item.png", class:"image_switch", width: '100%', height:'100%' ), 
        public_items_path, data: {"turbolinks" => false}%>
    </li>
    <li class="nav-item">
      <%= link_to image_tag("Shop.png", class:"image_switch", width: '100%', height:'100%' ), 
        public_about_path, data: {"turbolinks" => false}%>
    </li>
    <li class="nav-item">
      <%= link_to image_tag("Shin.png", class:"image_switch", width: '100%', height:'100%' ), 
        new_customer_registration_path, data: {"turbolinks" => false} %>
    </li>
    <li class="nav-item">
      <%= link_to image_tag("login.png", class:"image_switch", width: '100%', height:'100%' ), 
        new_customer_session_path, data: {"turbolinks" => false} %>
    </li>
  </ul>
</aside>