<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>プラモデル情報サイト‐Construction-</title>
    <%= favicon_link_tag 'icon1.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src=" https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    <%= render 'layouts/raty' %>
  </head>

  <body>
    <% if customer_signed_in? %>
      <div id="container">
        <div id="cover"></div>
        <div id="mask" class="hidden"></div>
        <aside id="side_area">
          <%= render 'layouts/sidemenu' %>
        </aside>
        <main id="main_area">

          <%= yield %>

        </main>
      </div>
      <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
